body {
    font-family: 'Arial (Hebrew)', Arial;
    margin: 0px;
    list-style-position:inside;
    text-align: center;
    }

header {
    width: 100%;
    height: 105px;
    background: rgb(144,144,144);
    background: linear-gradient(180deg, rgba(144,144,144,1) 0%, rgba(167,167,167,1) 64%, rgba(170,170,170,1) 100%);
    display: flex;
    justify-content: center;
  
  }

.navbar {
  width: 900px;
  text-align: center;
  top: 62px;
  font-size: 14px;
  position: absolute;
    
}
li.logo {
position: relative;
bottom: 28px;


}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;

  }
  
  li {
    float: right;
  }

  li.sep {
    position: relative;
    top: 14px;
    color: cornsilk;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    color: blue;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.outer-box {
    width: 900px;
    height: 354px;
    padding-top: 30px;
    display: inline-flex; 
    justify-content: space-between;
    direction: rtl;
    align-items: center;
    text-align: right;
    }

  .mid-box {
     width: 288px;
     height: 354px; 
     display: flex;
     justify-content: space-between;
     border-bottom-right-radius: 22px ;

  }

  .inner-box {
    width: 247px;
    height: 96px;
    margin-right: 6px ;
    margin-top: 248px;
    margin-bottom: 6px;
    margin-left: 38px;
    color: #fff;
    background-color: #797978; opacity: 0.8;
    border-bottom-right-radius: 22px ;

  }

  #rightSideDiv {
    background-image: url(1908364606615453350.JPG);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

  #centerDiv {
    background-image: url(Picture-046410251500.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  
  #leftSideDiv {
    background-image: url(פזקר_-291_354410564000.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  h3 {
    font-size: 14px;
    margin: 4px;
  }

  p {
    font-size: 13px;
    margin: 4px;
  }

  .outer-cube {
    width: 900px;
    height: 216px;
    display: inline-flex; 
    justify-content: space-between;
    direction: rtl;
    align-items: center;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 45px;
    }

   .cube {
    width: 288px;
    height: 216px; 
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 22px ;
    border: 1px solid green;
   } 

  .inner-cube {
    width: 250px;
    height: 184px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid blue;
  } 

  #rightCube {
    background-image: url(paz_250x110059890678.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }